.titleBar{
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px
}
.broad-input{
  font-size: 18px;
  font-weight: 600;
  display: block; 
  margin-left: 25%;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px
}

.commentBox{
  display: inline-flexbox;
  padding-left: 38px
}

#project-comments{
  padding-left: 20px
}
.tabs{
  padding-left: 16px

}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination > li {
  display: inline-block;
  padding-left: 0;
}
.pagination > li {
  list-style: none;
  border: 0.9px solid;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li.active>a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
  background-color:  #218838;
  color: white;
  cursor: pointer;
  cursor: hand;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;

  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  
  border-top-right-radius: 4px;
  
}
.previous{
  color:black;
}

